a{
    color: rgb(206, 230, 26) !important;   
    background-color: rgb(19, 0, 27);
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}